/**
 * Place your custom CSS styles here.
 **/

#mySidebar {
	color: #fff;
	position:fixed;
	top:0px;
	right:0px;
	width:300px;
	height:100%;
	background-image:-webkit-linear-gradient(#2F373D, #2F373D);
	border-left:2px solid #ccc;
	z-index:999999;
	padding: 20px;
	box-shadow: -6px 0px 5px -5px #999;
}

 #tp-tab {
 	width: 20px;
 	height: 50px;
 	background-image:url('chrome-extension://__MSG_@@extension_id__/image/tp-tab.png');
 	background-size: 100%;
 	position: absolute;
 	left: -20px;
 }

 #jp-li-img {
 	border-radius: 50%;
 	border: 2px solid #fff;
 	height: 50px;
 	float: left;
 	box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 1);
 }

 #tp-content {
 	overflow: scroll;
 	padding-top: 30px;
 }

 #tp-action-bar {
 	color: #fff;
 	height: 30px;
 	width: 300px;
 	background-color: #f27b22;
 	position: fixed;
 	bottom: 10;
 	text-align: center;
 	cursor: pointer;
 	padding-top: 15px;
 	font-size: 26px;
 	border: 1px solid #ccc;
 	border-radius: 4px;
 	margin-top: 30px;
 }

#tp-bookmarked {
	height: 30px;
	width: 30px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/image/tp-bookmarked.png');
	float:right;
	display: none;
} 

.clearfix {
	clear:	both;
}

#tp-content p {
	font-size: 18px;
}

#tp-flame {
	vertical-align: middle;
	height: 18px;
	width: 18px;
	background-image:url('chrome-extension://__MSG_@@extension_id__/image/tp-flame.png');
	display: inline;
}
